<div class="d-block align-items-center">
  <span class="input-group-text">上映戲院</span>
  <div class="d-flex">
    <% @theaters.each do |theater| %>
      <label><%= theater.name %></label>
      <span>
        (操作：
        <% if (theater.movie_theater.find_by(movie_id: @movie.id).nil?) %>
          <%= link_to "上檔", admin_movie_movie_theater_path(@movie, theater_id: theater.id), method:"post", data:{confirm:"這部電影將在#{theater.name}上檔"} %>
        <% else %>
          <%= link_to "下檔", admin_movie_movie_theater_path(@movie, theater_id: theater.id), method:"delete", data:{confirm:"這部電影將在#{theater.name}下檔"} %>
        <% end %>
        )&nbsp;
      </span>
    <% end %>
  </div>
</div>
