<section class="member_card p-3">
  <div class="card mb-3">
    <div class="card-header text-bg-primary text-start d-flex">
      <div><i class="fa-solid fa-ticket"></i></div>
      <h4 class="d-block my-0">會員專區</h4>
    </div>
    <div class="card-body text-start">
      <div class="card-title">
        <div class="row">
          <div class="col-4">
            <img src="https://www.vscinemas.com.tw/vsweb/upload/content/01.png" alt="" />
          </div>
          <div class="col-8">
            <h4 class="membership_level">一般影迷</h4>
            <h5 class="card-text">HI! <%= current_user.name %></h5>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div>
          <h6 class="d-block">
            <span>會籍期限: 永久會員</span>
            <a href="#">，點我了解會員權益</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>
